$height-layout: calc(100vh - 64px - 30px );

.main_layout{
  width: 100%;
  background: rgba(180, 180, 180, 0.87);

  box-sizing: border-box;
  //padding: 1em;

  min-height: $height-layout;
  max-height: $height-layout;
  overflow-y: scroll;

  ._hidden{
    display: none !important;
  }

}


@media (max-width: 959px) and (min-width: 0){
  $height-layout: calc(100vh - 48px - 30px );
  .main_layout{
    min-height: $height-layout;
    max-height: $height-layout;
  }
}