.my_group{
  v-accordion{
    padding: .5em;
/*    v-pane-header{
      min-height: 20px !important;
      height: 20px !important;
    }*/
  }
  md-list-item md-card{
    margin: .5em 0;
    border-radius: .5em !important;
    overflow: hidden;
  }

  table{
    width: 100%;
    tbody,thead{
     // width: 100%;
    }
    td,th{
      padding:.5em;
      &:nth-child(1n+2){
        text-align: center;
      }
      span{opacity: .3;}
    }
  }

}
