<div class="my_group main_layout">
	<navigation></navigation>
	<div class="page_content">
		<ajax-loader promise="mg.promise"></ajax-loader>
		<span class="page_title">{{mg.group.groupData.name?mg.group.groupData.name:'На данный момент на вас не назначена группа'}}</span>
			<md-card>

				<md-switch ng-model="mg.tableMode" aria-label="Вид">
					Вид: {{ mg.tableMode?'Таблица':'Список' }}
				</md-switch>
			</md-card>
			<md-list class="layout-fill" ng-if="!mg.tableMode">
					<md-list-item class="md-2-line" ng-repeat="member in mg.group.members  | orderBy: 'name'">
						<md-card flex>
						<md-content flex>
							<v-accordion flex class="vAccordion--default">
								<v-pane>
									<v-pane-header>
										<md-list-item style="min-height: 20px; height: 20px;">
											<span>{{::member.name}}</span>
											<span flex></span>
											<b>{{mg.propCount(member.properties) + '/' + member.properties.length}}</b>
										</md-list-item>
									</v-pane-header>
									<v-pane-content>
										<md-list class="layout-fill">
											<form name="propsForm">
											<md-list-item class="md-2-line" ng-repeat="prop in mg.props  | orderBy: 'name'">

													<span flex>{{::prop.name}}</span>
													<span flex></span>
													<md-input-container flex class="md-block" ng-init="propData = mg.findProp(prop._id, member.properties)">
														<label>{{::prop.name}}</label>
														<input ng-if="prop.type == 'formal'" ng-model="propData.actuallVal" name="val">

														<input ng-if="prop.type == 'number'"
															   required type="number"
															   ng-model="propData.actuallVal"
															   max="{{prop.max}}"
															   min="{{prop.min}}"
															   name="val">

														<div ng-messages="propsForm.val.$error" multiple md-auto-hide="false">
															<div ng-message="required">
																Надо бы заполнить
															</div>

															<div ng-message="min">
																Мин {{prop.min}}
															</div>

															<div ng-message="max">
																Max {{prop.max}}
															</div>
														</div>

													</md-input-container>
											</md-list-item>
											</form>
											<md-list-item>
												<span flex></span>
												<md-button flex="20" class="md-raised" ng-click="mg.save(member)">Сохранить</md-button>
											</md-list-item>
										</md-list>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						<!--<md-divider ng-if="!$last"></md-divider>-->
						</md-content>
						</md-card>
					</md-list-item>
				<md-list-item ng-if="!mg.group.members.length">
					<md-card>На данный момент в вашей группе нет участников</md-card>
				</md-list-item>
			</md-list>
			<md-card ng-if="mg.tableMode">
				<table>
					<thead>
					<tr>
						<th>ФИО</th>
						<th ng-repeat="prop in mg.props">{{prop.name}}</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="member in mg.group.members  | orderBy: 'name'">
						<td>{{::member.name}}</td>
						<td ng-repeat="prop in mg.createTableBody(member.properties)">{{prop.actuallVal}}<span ng-if="!prop.actuallVal">нет</span></td>
					</tr>
					</tbody>
				</table>
			</md-card>
	</div>
</div>
