<div class="my_group main_layout">
	<navigation></navigation>
	<div class="page_content">
		<span class="page_title">{{mg.group.groupData.name?mg.group.groupData.name:'На данный момент на вас не назначена группа'}}</span>


			<md-list class="layout-fill">
					<md-list-item class="md-2-line" ng-repeat="member in mg.group.members  | orderBy: 'name'">
						<md-card flex>
						<md-content flex>
							<v-accordion flex class="vAccordion--default">
								<v-pane>
									<v-pane-header>
										{{::member.name}}
									</v-pane-header>
									<v-pane-content>
										Props
									</v-pane-content>
								</v-pane>
							</v-accordion>
						<!--<md-divider ng-if="!$last"></md-divider>-->
						</md-content>
						</md-card>
					</md-list-item>
				<md-list-item ng-if="!mg.group.members.length">На данный момент в вашей группе нет участников</md-list-item>
			</md-list>

	</div>
</div>
