<div class="my_group main_layout">
	<navigation></navigation>
	<div class="page_content">
		<span class="page_title">{{mg.group.groupData.name?mg.group.groupData.name:'На данный момент на вас не назначена группа'}}</span>


			<md-list class="layout-fill">
					<md-list-item class="md-2-line" ng-repeat="member in mg.group.members  | orderBy: 'name'">
						<md-card flex>
						<md-content flex>
							<v-accordion flex class="vAccordion--default">
								<v-pane>
									<v-pane-header>
										<md-list-item style="min-height: 20px; height: 20px;">
											<span>{{::member.name}}</span>
											<span flex></span>
											<b>{{mg.propCount(member.properties) + '/' + member.properties.length}}</b>
										</md-list-item>
									</v-pane-header>
									<v-pane-content>
										<md-list class="layout-fill">
											<md-list-item class="md-2-line" ng-repeat="prop in mg.props  | orderBy: 'name'">
												<span flex>{{::prop.name}}</span>
												<span flex></span>
												<md-input-container flex class="md-block">
													<!--{{mg.findProp(prop._id, member.properties)}}-->
													<label>{{::prop.name}}</label>
													<input ng-model="mg.findProp(prop._id, member.properties).value">
												</md-input-container>
											</md-list-item>
											<md-list-item>
												<span flex></span>
												<md-button flex="20" class="md-raised" ng-click="mg.save(member)">Сохранить</md-button>
											</md-list-item>
										</md-list>
									</v-pane-content>
								</v-pane>
							</v-accordion>
						<!--<md-divider ng-if="!$last"></md-divider>-->
						</md-content>
						</md-card>
					</md-list-item>
				<md-list-item ng-if="!mg.group.members.length">На данный момент в вашей группе нет участников</md-list-item>
			</md-list>

	</div>
</div>
