<div class="organisations main_layout" ng-init="mayCRUD = orgs.checkCRUDRights()">
	<navigation></navigation>
	<div class="page_content">
		<span class="page_title">Организации</span>
		<tool-bar filters="orgs.filters"></tool-bar>

		<md-list-item ng-if="mayCRUD">
			<md-button class="md-raised  add" ng-click="orgs.add()" flex="80">
				<span>Добавить организацию</span>
			</md-button>
			<md-button class="md-raised add" ngf-select="orgs.import($file, $invalidFiles)"
			           accept="text/csv"
			           ngf-max-height="1000"
			           ngf-max-size="5MB"
			           flex="15">
				<span>Импорт CSV</span>
			</md-button>
		<!--	<upload-button callback="orgs.import"></upload-button>-->
		</md-list-item>

		<md-card>
			<md-list class="layout-fill">
				<md-list-item class="md-2-line" ng-repeat="org in orgs.orgs | filter: orgs.psychoFilter | orderBy: 'name'">


					<md-input-container  md-no-float class="md-block" flex="40">
						<!--<label>Название организации</label>-->
						<input ng-disabled="!mayCRUD" placeholder="Название организации" ng-model="org.name" ng-blur="orgs.update(org)">
					</md-input-container>

					<md-input-container  md-no-float class="md-block" flex="20">
						<label>Тип организации</label>
						<md-select ng-disabled="!mayCRUD || org.members.length" ng-model="org.is_psycho" ng-change="orgs.update(org)">
							<md-option ng-value="false">Учебная</md-option>
							<md-option ng-value="true">Психологическая</md-option>
						</md-select>
					</md-input-container>

					<span flex></span>

					<md-input-container  class="md-block">
						<md-button flex ng-if="mayCRUD" style="margin:0" class="md-raised" aria-label="Представители организации" ng-href="organisations/{{org._id}}">
							Представители <b>({{org.membersCount}})</b>
						</md-button>
					</md-input-container>

					<md-input-container  class="md-block">
						<md-button ng-disabled="org.members.length" ng-if="mayCRUD" class="md-icon-button delete_button" aria-label="Удалить организацию" ng-click="orgs.remove(org._id)">
							<md-icon md-svg-icon="/src/img/ic_delete_forever_black_24px.svg"></md-icon>
						</md-button>
					</md-input-container>

					<md-divider ng-if="!$last"></md-divider>

				</md-list-item>

				<md-list-item ng-if="!orgs.orgs.length">Нет организаций</md-list-item>

			</md-list>
		</md-card>
	</div>
</div>
