.testing_page{

  md-toolbar{
    $height: 55px;

    background-color: #eaeaea !important;
    color: #2e2e2e !important;
    @include md-rewrite($height)
  }

  .md-button{font-weight: bold}
  md-list{
    padding: 0 !important;
  }
  md-list-item{
    background: #ffffff;
      &, .md-button{
        @include md-rewrite(50px)
      }
  }

  v-pane-header md-input-container{
    width: 200px;
    margin-bottom: 0;
    .md-errors-spacer{display:none}
  }

}

.empty_host{
  &:before, &:after{
    display: none !important;
  }
  border-bottom-color: #D8D8D8 !important;
}