.auth{
  width: 70%;
  transition: width .3s, height .3s;

  margin: 0 auto;
  background: #fff;
  padding: 1em;
  box-sizing: border-box;
  .md-raised{
    background-color: #334aff !important;
    color: #fff !important;
  }
}
body{  background-color: #bbbbbb;}

@media (min-width: 780px) {
  .auth{
    width: 50%;
  }
}