$height-footer: 30px;
.app_footer{


  position: absolute;
  bottom: 0;

  height: $height-footer;
  width: 100%;

  background: rgba(0, 0, 0, 0.87);
  color: #fff;

  text-align: center;
  line-height: $height-footer;
}