@mixin md-rewrite($height){
  max-height: $height;
  min-height: $height;
  height: $height;
}

@mixin colorAnim($from, $to){
  color: $from;
  transition: color .2s;
  &:hover{
    color: $to;
  }
}

@mixin svgColorAnim($from, $to){
  & svg {
    fill: $from;
    transition: fill .2s;
  }
  &:hover svg{
    fill: $to;
  }
}

$cold-color: #67b3ff;

ng-view{
  width: 100vw;
  height: 100vh;
}

.main_layout{
  background: $cold-color;
  width: 100vw;
  height: 100vh;

  .page_content{
     height: calc(100vh - 64px);
     max-height: calc(100vh - 64px);

     background-color: #d2d2d2;
     box-sizing: border-box;

    overflow-y: scroll;
    overflow-x: hidden;

    .page_title{
      font-size: 1.5em;
      padding: .4em;
      color: #fff;
      width: 100%;
      background-color: #181818;
      box-sizing: border-box;
      display: block;
    }
  }
}


.add{
  padding: 6px 12px !important;
  color: #fff !important;
  background-color: $cold-color !important;
  border: 2px dashed $cold-color !important;
  box-shadow: none !important;
}

.delete_button{
  &[disabled]{
    opacity: .5 !important;
  }
}

/* md-list-item{
  padding-top: 12px;
  height: 50px !important;
  min-height: 0 !important;
  md-input-container{
    margin: 0 !important;
    .md-errors-spacer{
      display: none !important;
    }
  }
} */



md-list-item{
  //&:hover .delete_button{display: block;}
  padding: 0 1em;
  .md-raised{
    background: $cold-color !important;
    color: #fff !important;
  }
  .delete_button{
   // display: none;
    background: #e04136 !important;
    svg{fill:#fff}
    //@include svgColorAnim(#000, #ff0415);
  }
  md-input-container{
    input:focus{
      border-color: $cold-color !important;
     }

    md-option[selected]{
      color: $cold-color !important;
    }
  }
}

a{
  text-decoration: none !important;
  color: inherit !important;
}
