@mixin md-rewrite($height){
  max-height: $height;
  min-height: $height;
  height: $height;
}

@mixin colorAnim($from, $to){
  color: $from;
  transition: color .2s;
  &:hover{
    color: $to;
  }
}

@mixin svgColorAnim($from, $to){
  & svg {
    fill: $from;
    transition: fill .2s;
  }
  &:hover svg{
    fill: $to;
  }
}

$cold-color: #67b3ff;

.main_layout{
  background: $cold-color;
  width: 100vw;
  height: 100vh;
  .page_content{
     height: calc(100vh - 64px);
     background-color: #d2d2d2;
     box-sizing: border-box;
    .page_title{
      font-size: 1.5em;
      padding: .4em;
      color: #fff;
      width: 100%;
      background-color: #181818;
      box-sizing: border-box;
      display: block;
    }
  }
}


.add{
  padding: 6px 12px !important;
  color: #fff !important;
  background-color: $cold-color !important;
  border: 2px dashed $cold-color !important;
  box-shadow: none !important;
}

md-list-item{
  &:hover .delete_button{display: block;}
  padding: 0 1em;
  .delete_button{
    display: none;
    @include svgColorAnim(#000, #ff0415);
  }
}
