@mixin md-rewrite($height){
  max-height: $height;
  min-height: $height;
  height: $height;
}

@mixin colorAnim($from, $to){
  color: $from;
  transition: color .2s;
  &:hover{
    color: $to;
  }
}

.main_layout{
  background: #67b3ff;
  width: 100vw;
  height: 100vh;
  .page_content{
     height: calc(100vh - 64px);
     background-color: #d2d2d2;
     box-sizing: border-box;
    .page_title{
      font-size: 1.5em;
      padding: .4em;
      color: #fff;
      width: 100%;
      background-color: #181818;
      box-sizing: border-box;
      display: block;
    }
  }
}
