
<v-accordion ng-class="vAccordion--default" multiple class="host_group">
	<v-pane ng-repeat="host in hostData" ng-init="hidden = !host.childHosts.length">
		<v-pane-header ng-class="{empty_host:hidden}">

					<div ng-if="host.params.req">
						<section layout="row" layout-align="start center">
							<div style="width: 70px" layout="column" layout-align="center"><span>{{host.params.prl}}<md-tooltip md-direction="bottom">Протокол</md-tooltip></span></div>
							<div style="width: 70px"><span>{{host.params.mt}}<md-tooltip md-direction="bottom">Метод</md-tooltip></span></div>
							<div style="width: 250px"><span>{{host.params.path}}<md-tooltip md-direction="bottom">URL</md-tooltip></span></div>
							<div style="width: 70px" ng-if="!host.params.inf"><span>{{host.params.n}}<md-tooltip md-direction="bottom">Кол-во запросов</md-tooltip></span></div>
							<div style="width: 70px" ng-if="host.params.inf"><span>{{'∞'}}<md-tooltip md-direction="bottom">Постоянная отправка запросов</md-tooltip></span></div>


							<div style="width: 50px"><span>{{'0'}}<md-tooltip md-direction="bottom">Отправлено запросов</md-tooltip></span></div>
							<div style="width: 50px"><span>{{'0'}}<md-tooltip md-direction="bottom">Успешных запросов</md-tooltip></span></div>
							<div style="width: 50px"><span>{{'0'}}<md-tooltip md-direction="bottom">Неудачных запросов запросов</md-tooltip></span></div>

							<span flex></span>
							<aside style="margin-right: 20px;">
								<md-button class="md-raised">Start</md-button>
							</aside>
						</section>
					</div>
					<div ng-if="!host.params.req">
						<section layout="row" layout-align="start center">
							<div style="width: 300px"><span>{{host.params.path}}</span></div>
						</section>
					</div>

		</v-pane-header>
		<v-pane-content ng-class="{_hidden:hidden}">
				<host-group ng-if="!hidden" host-data="host.childHosts"></host-group>
		</v-pane-content>
	</v-pane>
</v-accordion>
