<md-dialog class="add_members_dialog" aria-label="Добавить участников"  ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Добавить участников</h2>
				<span flex></span>
				<md-input-container  md-no-float class="md-block" flex="20">
					<label>Организация</label>
					<md-select ng-model="dlg.filters.organisation.value">
						<md-option ng-value="null">Все</md-option>
						<md-option ng-repeat="org in dlg.organisations" ng-value="org._id">
							{{org.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-list class="layout-fill">
					<md-list-item class="md-2-line" ng-repeat="member in dlg.members | filter: dlg.filters.organisation.f">
						<md-checkbox class="md-primary" ng-model="member.selected" aria-label="Выбрать участника">
							{{ member.selected }}
						</md-checkbox>
						<div flex="30" class="md-list-item-text">
							<h3>{{::member.name}}</h3>
						</div>
						<div flex="30" class="md-list-item-text">
							<h3>{{::member.organisationData.name}}</h3>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
					<md-list-item ng-if="!dlg.members.length">На данный момент нет участников без группы</md-list-item>
				</md-list>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-raised" ng-click="dlg.addMembersToGroup()" style="margin-right:20px;">
				Добавить
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
