<div class="home main_layout">
   <navigation></navigation>
   <div class="page_content">
      <span class="page_title">Главная</span>

      <md-card>
         <md-card-title>
            <h3>Добро пожаловать</h3>
         </md-card-title>
         <md-card-content>
            <p>Здравствуйте, уважаемые Психологи.</p>
            <p>Приветствуем Вас на странице психологического модуля НОП Полет.</p>
            <p>Здесь вы можете ознакомиться с общими для всех участников НОП Полет характеристиками для того,
               чтобы сформировать образовательную программу и дальнейшее направление своей работы</p>
         </md-card-content>
      </md-card>

   </div>
</div>
